extends ../layout.pug

block head
	title Rules

block content
	h1.board-title Rules
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p 1. Behave and have fun! Everyone can create their own board!
					p 2. No spamming, trolling, or flaming. Okay a little trolling is fine.
					p 3. No NSFW content. Keep it clean.
					p 4. No hate speech or discrimination.
					p 5. No xp cheating or elite hacking.
					p 6. No sharing personal information.
					p 7. No sharing links to harmful websites.
					p 8. No sharing links to illegal content.
					p 9. No sharing links to phishing websites.
					p 10. No sharing links to scam websites.
					p 11. No sharing links to malware.
					p 12. No sharing links to viruses.
					p 13. No sharing links to spyware.
					p 14. No sharing links to adware.
					p 15. No sharing links to ransomware.
					p 16. No sharing links to cryptominers.
					p 17. No sharing links to keyloggers.
					p 18. No sharing links to rootkits.
					p 19. No sharing links to worms, trojans, backdoors, botnets, DDoS tools, or exploit kits.
					p 20. Maybe keep link sharing to a minimum.
					p 21. Sign message with wallet if you got something to prove.
